{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-sm-4 col-sm-offset-4">
        <h1 class="bottom-padding">Artist Shuffle!</h1>
        <p class="bottom-padding lead">{{ artist.name }}</p>
        <div class="col-sm-12">
            {{ form_start(genre_form) }}
            {{ form_widget(genre_form) }}
            {{ form_end(genre_form) }}
        </div>
        <a class="btn btn-default" href="{{ path('shuffle') }}" role="button">Again!</a>
        <table class="top-padding">
            <tbody>
                <tr>
                    <td><a href="{{ path('artists_index') }}">Artists</a> |</td>
                    <td><a href="{{ path('genres_index') }}">Genres</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
